* {
    font-family: Koulen;
    letter-spacing: 0.05em;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*HD*/
@media (min-width: 1024px) {
    .title {
        font-size: 50px;
    }
    .bio {
        font-size: 25px;
    }
    .container {
        display: grid;
        column-gap: 5rem;
        row-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-body-spacing {
        height: 5px;
    }
    img {
        border-radius: 25px;
        height: 500px;
        margin-bottom: 5px;
        margin-right: 10px;
        transition: all 0.3s ease 0s;
    }
    img:hover {
        transform: translateY(-10px);
    }
    img:active {
        transform: translateY(-5px);
    }
}
/*SD*/
@media (max-width: 1023px) {
    .container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
    .title {
        font-size: 75px;
    }
    .bio {
        font-size: 50px;
    }
    .title-body-spacing {
        height: 5px;
    }
    img {
        border-radius: 25px;
        height: 750px;
        margin-bottom: 5px;
        margin-right: 10px;
        transition: all 0.3s ease 0s;
    }
    img:active {
        transform: translateY(5px);
    }
}
/*FHD*/
@media (min-width: 2560px) {
    .title {
        font-size: 50px;
    }
    .bio {
        font-size: 25px;
    }
    .container {
        display: grid;
        column-gap: 5rem;
        row-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-body-spacing {
        height: 10px;
    }
    img {
        border-radius: 25px;
        height: 750px;
        margin-bottom: 5px;
        margin-right: 10px;
        transition: all 0.3s ease 0s;
    }
    img:hover {
        transform: translateY(-10px);
    }
    img:active {
        transform: translateY(-5px);
    }
}
/*UHD*/
@media (min-width: 3840px) {
    .title {
        font-size: 50px;
    }
    .bio {
        font-size: 25px;
    }
    .container {
        display: grid;
        column-gap: 5rem;
        row-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-body-spacing {
        height: 15px;
    }
    img {
        border-radius: 25px;
        height: 1000px;
        margin-bottom: 5px;
        margin-right: 10px;
        transition: all 0.3s ease 0s;
    }
    img:hover {
        transform: translateY(-10px);
    }
    img:active {
        transform: translateY(-5px);
    }
}